* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik;
}

.navbar {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding-bottom: 20px; */
}

.logo h1 {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.menu a:last-child {
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .logo h1 {
    color: #cc2727;
  }

  .navbar {
    justify-content: space-between;
  }

}
